<div id="page_content">
    <div id="page_heading">
        <h1>{{PageTitle}}</h1>
    </div>
    <div id="page_content_inner">
        <form action="" class="uk-form-stacked" id="user_edit_form">
            <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                <div class="uk-width-xLarge-9-10  uk-width-large-9-10">
                    <div class="md-card">
                        <div ng-if="message" class="uk-alert uk-alert-danger" data-uk-alert>
                            <a href="#" class="uk-alert-close uk-close"></a>
                            {{message}}
                        </div>
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text">
                                Add User
                            </h3>
                        </div>
                        <div class="md-card-content large-padding">
                            <div class="uk-grid uk-grid-divider uk-grid-medium">
                                <div class="uk-width-large-1-2">
                                    <div class="uk-form-row">
                                        <label for="user_add_name_control">User Name</label>
                                        <input type="email" class="md-input" name="user_add_name_control" id="user_add_name_control" ng-model="addUser.name" md-input />
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="user_add_name_control">User Email</label>
                                        <input type="text" class="md-input" name="user_add_email_control" id="user_add_email_control" ng-model="addUser.email" md-input />
                                    </div>
                                    <div class="uk-form-row">
                                        <label class="uk-form-label">User Role</label>
                                        <input config="{ create:false, maxItems: 1 }" options="roles" ng-model="addUser.role" name="user_add_role_control" selectize />
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="user_add_password_control">Password</label>
                                        <input type="password" class="md-input" name="user_add_password_control" id="user_add_password_control"  ng-model="addUser.password" md-input />
                                    </div>
                                    <div class="uk-form-row">
                                        <a class="md-btn md-btn-primary" ui-sref="restricted.user.list">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="md-fab-wrapper">
    <a class="md-fab md-fab-primary" href="#" ng-click="createUser($event)">
        <i class="material-icons">&#xE161;</i>
    </a>
</div>