<h3 class="heading_b uk-margin-bottom">Create User</h3>

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <form novalidate="novalidate" class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="inputFirstName">First name:</label>

                                    <div class="controls">
                                        <input type="text" id="inputFirstName" ng-model="user.firstName" placeholder="First name"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputLastName">Last name:</label>

                                    <div class="controls">
                                        <input type="text" id="inputLastName" ng-model="user.lastName" placeholder="Last name"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <a ng-click="createNewUser()" class="btn btn-small btn-primary">create new user</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>